.todo-list .todo{
    margin: 10px 0;
    padding: 10px;
    background: #f4f4f4;
}

.todo-list h4{
    margin: 0 !important;
    padding: 10px 0 10px 0 !important;
}

.todo-list .priority-low{
    color: black;
    padding: 5px 0;
}

.todo-list .priority-normal{
    color: green;
    padding: 5px 0;
}

.todo-list .priority-high{
    color: red;
    padding: 5px 0;
}